# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
dist/
.build/
.next.cache/
.turbo/

# Env files
.env
.env.*
!.env.example

# Logs
*.log

# Typescript
*.tsbuildinfo

# Editor
.vscode/
.idea/
.DS_Store
Thumbs.db

# Coverage
coverage/

# Misc
*.pid
*.seed